<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <style>
        body {
            background: #c7b39b url(https://i.redd.it/i9iqra3s5y111.jpg); /* Цвет фона и путь к файлу */

        }
    </style>

</head>
<body>



<div class="container">

    <img src="https://www.colorhexa.com/fedbc7.png" alt="1">


<div class="jumbotron bg-secondary text-white" >
    <h1 class="display-4">Привет, <strong><u>{{name}}!</u></strong></h1>
    <p class="lead">Это простенькое web приложение было написано для тренировки и выявления пробелов в знаниях,
        созданного с помощью <a href="https://spring.io/" class="text-success"><strong>Spring boot</strong></a> + JPA, включая операции CRUD, аутентификацию (Spring Security),pagination и т.д.!</p>
    <hr class="my-4">
    <p >Что бы начать работу на сайте зарегистрируйтесь или зайдите используя кнопку нижне. Приятного прибывания на сайте!</p>
    <div class="mx-auto" style="width: 200px;">
    <p class="lead">
        <a class="btn btn-primary btn-lg mt-3" href="/main" role="button">Войти / Зарегистрироваться</a>
    </p>
    </div>

</div>

</div>






















</div>
</body>
</html>
